<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML5 boilerplate – all you really need…</title>
  <link rel="stylesheet" href="css\app.css">
  <!--[if IE]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style type="text/css">

  </style>
</head>

<body>  
  <div id="screen" style="width: 800px; height: 500px; border: 1px solid black; margin-top: 10px; margin-left: 10px;">
  </div>

  <div id="log">
    
  </div>

  <script type="text/javascript" src="js\vendor\jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="js\vendor\knockout-3.2.0.js"></script>
  <script type="text/javascript" src="js\vendor\jquery.form.min.js"></script>
  <script type="text/javascript" src="js\vendor\d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="js\game.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js\pb-shooter\client.js"></script>
</body>
</html>